*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(#3c2626,#c29585,#f5e9ae);
    background-size: cover;
    background-position: center;
    position: relative;
    display: block;
}

.volver{
    background-color: #c29585;
    color: #3c2626;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #000;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.input-box{
    display: flex;
    justify-content: center;
    margin-top: 8rem;
}

.cta{
    display:inline-flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

input{
    padding: 18px 40px;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.18);
    cursor: pointer;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
    min-width: 70%;
    height: 50px;
    text-align: center;
    margin: 1rem;
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 3rem;
    width: 100%;
    
}

.btn{
    padding: 18px 40px;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.18);
    cursor: pointer;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
    min-width: 35%;
    height: 90px;
    text-align: center;
    margin: 1rem;
}

.hidden{
    display: none;
}

.login{
    text-align: center;
}

.register{
    text-align: center;
}