<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tutorial</title>
        <link rel="stylesheet" href="{% static 'perfiles/tutorial.css' %}">
    </head>

    <body>
        <header class="barra-superior">
            <a href="" class="volver">Volver</a>
            <img src="{% static 'perfiles/logo.png' %}" class="logo"/>
        </header>

        <main class="principal">
            <aside class="barra-derecha">
                <div class="nombre">
                    <h3>Nombre</h3>
                </div>

                <img src="{% static 'perfiles/user2.png' %}" class="imagen-perfil"/>

                <div class="botones">
                    <a href="{% url 'login' %}" class="boton">Cuenta</a>
                    <a href="" class="boton">Publicar</a>
                </div>
            </aside>

            <section class="tutorial">
                <nav class="indice">
                    <h3>Índice</h3>
                    <ul class="menu">
                        <li>
                            <button class="desplegable">¿Cómo empezar en [\t]?</button>
                            <ul class="submenu">
                                <li><a href="#intro1">¿Cómo configurar mi cuenta?</a></li>
                                <li><a href="#intro2">¿Qué opciones existen?</a></li>
                            </ul>
                        </li>
                        <li>
                            <button class="desplegable">¿Cómo publico mis servicios?</button>
                            <ul class="submenu">
                                <li><a href="#sec1-1">¿Cómo hacer una publicación?</a></li>
                                <li><a href="#sec1-2">¿Cómo editar/borrar una publicación?</a></li>
                            </ul>
                        </li>
                        <li>
                            <button class="desplegable">Asesoría legal</button>
                            <ul class="submenu">
                                <li><a href="#final">¿Qué necesito cumplir?</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>

                <article class="contenido">
                    <h1>1.- ¿Cómo empezar en [\t]?</h1>
                    <h2 id="intro1">1.1.- ¿Cómo configurar mi cuenta?</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit imperdiet ante commodo tristique,
                        eleifend conubia ad diam sociis mauris accumsan consequat class rutrum quam, sapien urna
                        sem nunc ligula nulla risus felis nisl praesent. Lacus natoque auctor molestie ligula nisl
                        curae donec, platea non himenaeos congue diam sollicitudin praesent, elementum dictum pulvinar
                        dui leo pellentesque. Mus ad vivamus accumsan cubilia fames placerat lacus eleifend cursus
                        lacinia etiam aliquet suspendisse inceptos velit, cum donec faucibus lectus natoque habitasse
                        aptent dapibus eget himenaeos vulputate at.
                    </p>

                    <h2 id="intro2">1.2.- ¿Qué opciones existen?</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit imperdiet ante commodo tristique,
                        eleifend conubia ad diam sociis mauris accumsan consequat class rutrum quam, sapien urna
                        sem nunc ligula nulla risus felis nisl praesent. Lacus natoque auctor molestie ligula nisl
                        curae donec, platea non himenaeos congue diam sollicitudin praesent, elementum dictum pulvinar
                        dui leo pellentesque. Mus ad vivamus accumsan cubilia fames placerat lacus eleifend cursus
                        lacinia etiam aliquet suspendisse inceptos velit, cum donec faucibus lectus natoque habitasse
                        aptent dapibus eget himenaeos vulputate at.
                    </p>

                    <h1>2.- ¿Cómo publico mis servicios?</h1>
                    <h2 id="sec1-1">2.1.- ¿Cómo hacer una publicación?</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit imperdiet ante commodo tristique,
                        eleifend conubia ad diam sociis mauris accumsan consequat class rutrum quam, sapien urna
                        sem nunc ligula nulla risus felis nisl praesent. Lacus natoque auctor molestie ligula nisl
                        curae donec, platea non himenaeos congue diam sollicitudin praesent, elementum dictum pulvinar
                        dui leo pellentesque. Mus ad vivamus accumsan cubilia fames placerat lacus eleifend cursus
                        lacinia etiam aliquet suspendisse inceptos velit, cum donec faucibus lectus natoque habitasse
                        aptent dapibus eget himenaeos vulputate at.
                    </p>

                    <h2 id="sec1-2">2.2.- ¿Cómo editar/borrar una publicación?</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit imperdiet ante commodo tristique,
                        eleifend conubia ad diam sociis mauris accumsan consequat class rutrum quam, sapien urna
                        sem nunc ligula nulla risus felis nisl praesent. Lacus natoque auctor molestie ligula nisl
                        curae donec, platea non himenaeos congue diam sollicitudin praesent, elementum dictum pulvinar
                        dui leo pellentesque. Mus ad vivamus accumsan cubilia fames placerat lacus eleifend cursus
                        lacinia etiam aliquet suspendisse inceptos velit, cum donec faucibus lectus natoque habitasse
                        aptent dapibus eget himenaeos vulputate at.
                    </p>

                    <h1>3.- Asesoría legal</h1>
                    <h2 id="final">3.1.- ¿Qué necesito cumplir?</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit imperdiet ante commodo tristique,
                        eleifend conubia ad diam sociis mauris accumsan consequat class rutrum quam, sapien urna
                        sem nunc ligula nulla risus felis nisl praesent. Lacus natoque auctor molestie ligula nisl
                        curae donec, platea non himenaeos congue diam sollicitudin praesent, elementum dictum pulvinar
                        dui leo pellentesque. Mus ad vivamus accumsan cubilia fames placerat lacus eleifend cursus
                        lacinia etiam aliquet suspendisse inceptos velit, cum donec faucibus lectus natoque habitasse
                        aptent dapibus eget himenaeos vulputate at.
                    </p>
                </article>
            </section>
        </main>
    <script src="{% static 'perfiles/tutorial.js' %}"></script>
    </body>
</html>