*{
    font-family: "san francisco";
    padding: 0;
    margin: 0;
}

body{
    background-color: #ffdfb3;
}

/* ---------------Barra superior--------------- */
.barra-superior{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-image: linear-gradient(rgba(255, 223, 179, 0.7), rgb(69, 33, 0, 0.7)), url(../imágenes/jardinero.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.logo{
    height: 40px;
}

.volver{
    position: absolute;
    left: 0;
    text-decoration: none;
    background-color: #452100;
    color: #ffdfb3;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 35px;
    transition: background-color 0.3s;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
}
/* ---------------fin barra superior--------------- */


.header{
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    display: block;
}

.text-box{
    width: 90%;
    color: #2f1700;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-100%);
    text-align: center;
}

.input-box{
    display: flex;
    justify-content: center;
    margin-top: 9rem;
}

.cta{
    display:inline-flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

input{
    padding: 18px 40px;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.18);
    cursor: pointer;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
    min-width: 70%;
    height: 50px;
    text-align: center;
    margin: 1rem;
}

.input{
    background-color: #ffcd8c;
    border: 1px solid #2f1700;
}

::placeholder{
    color: #2f1700
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 3rem;
    width: 100%;
    
}

.btn, a.btn, button.btn{
    padding: 18px 40px;
    font-size: 35px;
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.18);
    cursor: pointer;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
    min-width: 35%;
    height: 90px;
    text-align: center;
    margin: 1rem;
    transition: background-color 0.3s;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    color: #ffdfb3;
    background-color: #452100;
    display: inline-flex;           /* <-- importante: hace que min-width/height funcionen para <a> */
    align-items: center;             /* centra verticalmente el texto */
    justify-content: center;
    text-decoration: none; 
    box-sizing: border-box;
}

.btn:hover{
    background-color: #2f1700;
}




.hidden{
    display: none;
}

.login{
    text-align: center;
}

.register{
    text-align: center;
}